{{#partial "content"}}
<div>
    <h1>{{ category.fields.name }}</h1>
    <p>{{ category.fields.description }}</p>
    <div class="row products">
        {{#each products}}
        <div class="col-xs-12 col-sm-6 col-md-4">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>
                        <a href="{{ product.path }}">{{ product.fields.name }}</a>
                        <small>{{ product.fields.SKU }}</small>
                    </h3>

                    <a href="{{ product.path }}">
                        <img style="height: 200px; width: 100%;" src="{{ product.fields.vehicleImage.path }}" class="img-thumbnail">
                    </a>

                    <p>{{ product.fields.description }}</p>

                    <hr>

                    <div class="row">
                        <div class="col-xs-6">
                        <!--| number: 2 -->
                            <h3 style="margin: 5px 0;"><span class="label label-primary">€{{ product.fields.price  }}</span></h3>
                        </div>
                        <div class="col-xs-6 text-right">
                            <span class="label label-default">Weight: {{ product.fields.weight }}</span><br>
                            <span class="label label-default">Stock: {{ product.fields.stocklevel }}</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/partial}}

{{> templates/base}}
